   body {
       padding: 0;
       margin: 0;
   }

   header {
       background-color: black;
       color: white;
       width: 100%;
       height: 100px;
       position: relative;
   }

   .logo {
       float: left;
       width: 60px;
       padding-top: 18px;
       padding-left: 10px;
   }

   .logo img {
       width: 100%;
       height: auto;
       display: block;
   }

   header h1 {
       position: absolute;
       top: 50%;
       left: 50%;
       margin: 0;
       transform: translate(-50%, -50%);
   }

   #menuSuperior {
       display: flex;
       background-color: silver;
       height: 30px;
       justify-content: center;
       align-items: center;
   }

   #menuSuperior a {
       margin: 0 5px;
       text-decoration: none;
       color: black;
   }

   .contenedorCentral {
       display: grid;
       grid-template-columns: 10% 80% 10%;
       min-height: 78vh;
   }

   .contenedorCentral nav {
       background-color: grey;
       height: 100%;
       width: 100%;
       text-align: center;
   }

   .contenedorCentral nav b {
       display: block;
       padding: 0;
       margin: 0;
       padding-top: 5px;
       margin-top: 5px;
   }

   .contenedorCentral nav ul {
       display: block;
       margin: 5px;
       padding: 0;
       list-style: none;
       text-align: left;
   }

   .contenedorCentral nav ul li {
       margin: 4px;
   }

   .contenedorCentral nav ul a {
       text-decoration: none;
       color: black;
   }

   .contenedorCentral main {
       background-color: white;
       padding: 60px;

       box-sizing: border-box;
       /* Asegurarse de que el padding se incluya en el tamaño total */
   }

   .contenedorCentral main h1 {
       display: block;
       text-align: center;
   }

   .contenedorCentral aside {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       text-align: center;
       background-color: grey;
       height: 100%;
       width: 100%;
   }

   .imgDivAside {
       width: 80%;
       display: flex;
       padding-left: 15px;
   }

   .imgDivAside a img {
       max-width: 100%;
       height: auto;
   }


   /*footer {
    display: flex;
    margin: 0;
    background-color: black;
    color: white;
    height: 90px;
    justify-content: center;
    align-items: center;
}*/
   footer {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       background-color: black;
       color: white;
       height: 100px;
       text-align: center;
       position: relative;
   }

   .imgFooter img {
       padding-top: 1em;
       width: 50px;
       height: auto;
   }

   #inicio {
       font-weight: bold;
   }

   .btnCerrarSesion {
       display: flex;
       justify-content: end;
   }

   .ejercicioX {
       margin: 0 auto;
       text-align: center;
   }