
.container {
	border: 5px solid red;
}

.celda {
	border: 5px solid blue;
}

.no-gutters {
	margin: 0px;
	padding: 0px;
}

.fila {
	border: 1px solid red;
	height: 100px;
}

.fila * {
    border: 1px solid black;
}  
