body{
    height: 1100px;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header{
    height: 20%;
    width: 100%;
    background-color: black;
    font-size: 1.5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    display: flex;
    height: 60%;
    width: 100%;
}

nav{
    height: 100%;
    width: 20%;
    background-color: gray;
}

main{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

aside{
    height: 100%;
    width: 20%;
    background-color: gray;
}

p{
    height: 100%;
}

footer{
    height: 20%;
    width: 100%;
    background-color: black;
}